/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE   &kp N1    &kp N2     &kp N3          &kp N4  &kp N5                                                               &kp N6  &kp N7  &kp N8         &kp N9     &kp N0     &kp BACKSPACE
&kp TAB     &kp Q     &kp W      &kp E           &kp R   &kp T                                                                &kp Y   &kp U   &kp I          &kp O      &kp P      &kp MINUS
&kp ESCAPE  &kp A     &kp S      &kp D           &kp F   &kp G                                                                &kp H   &kp J   &kp K          &kp L      &kp SEMI   &kp SQT
&kp LSHFT   &kp Z     &kp X      &kp C           &kp V   &kp B              &mo 2  &kp HOME  &kp PG_UP      &mo 3             &kp N   &kp M   &kp COMMA      &kp DOT    &kp SLASH  &kp BACKSLASH
&kp LCTRL   &kp LALT  &kp LMETA  &kp LEFT_SHIFT                  &kp SPACE  &mo 1  &kp END   &kp PAGE_DOWN  &mo 4  &kp ENTER                  &kp LC(SPACE)  &kp MINUS  &kp EQUAL  &kp RCTRL
            >;
        };

        symbols {
            bindings = <
&none          &kp F1      &kp F2      &kp F3      &kp F4      &kp F5                                                &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
&kp GRAVE      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                                                &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp F12
&kp LS(GRAVE)  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                                            &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
&none          &kp EQUAL   &kp MINUS   &kp LPAR    &kp LBKT    &kp LBRC           &none  &none  &none  &none         &kp RBRC    &kp RBKT    &kp RPAR    &kp PLUS    &kp UNDER   &none
&none          &none       &none       &none                               &none  &none  &none  &none  &none  &none                          &none       &none       &none       &none
            >;
        };

        fn {
            bindings = <
&kp PRINTSCREEN  &none        &none       &none       &none              &none                                                      &none  &none  &none  &none  &none  &none
&none            &none        &none       &none       &none              &kp C_SLEEP                                                &none  &none  &none  &none  &none  &none
&kp C_PREV       &kp C_PAUSE  &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                                            &none  &none  &none  &none  &none  &none
&none            &none        &none       &none       &none              &none                   &none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none            &none        &none       &none                                           &none  &none  &none  &none  &none  &none                &none  &none  &none  &none
            >;
        };

        numpad {
            bindings = <
&none  &none  &none  &none  &none  &none                                            &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DIVIDE    &kp RS(KP_NUM)  &trans
&none  &none  &none  &none  &none  &none                                            &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &none           &none
&none  &none  &none  &none  &none  &none                                            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS     &none           &none
&none  &none  &none  &none  &none  &none         &none  &none  &none  &none         &kp KP_NUMBER_0  &kp KP_DOT       &kp RET          &kp KP_PLUS      &none           &none
&none  &none  &none  &none                &none  &none  &none  &none  &none  &none                                    &none            &none            &none           &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                                  &trans     &trans     &trans        &trans     &trans  &kp DEL
&trans  &trans  &trans  &trans  &trans  &trans                                                  &mkp LCLK  &mkp MCLK  &mkp RCLK     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                                  &kp LEFT   &kp DOWN   &kp UP_ARROW  &kp RIGHT  &none   &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans          &trans     &trans     &trans        &trans     &trans  &trans
&trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans                        &trans        &trans     &trans  &trans
            >;
        };
    };
};
